<%- include("partials/header.ejs") %>

  <!-- Overlay When Open Navigation Bar -->
  <div id="bodyOverlay"> </div>

  <!-- Menu Button for Mobile -->
  <span class="material-icons" id="menuToggle">menu</span>

  <!-- Title -->
  <div class="top-level" id="sidebarMenu2"></div>
  <div id="sidebarMenu">
    <div class="today">
      <h1 class="mb-0">
        <%=homeTitle%>
      </h1>
    </div>
    <p class="mb-0">
      <%=date%>
        </p>
  </div>

  <!-- Content -->
  <div class="page-content" id="content">
    <div class="home-content">
      <%newTaskItem.forEach((task)=>{%>
        <div class="items">
          <form action="/delete" method="post">
            <input onChange="this.form.submit()" type="checkbox" value="<%=task._id%>" name="checkedItem" >
            <p class="mb-0">
              <%=task.name%>
            </p>
            <input value="<%= homeTitle%>" name="listName" type="hidden">
          </form>
        </div>
        <%});%>
    </div>
  </div>
  <%- include("task.ejs") %>
    <%- include("partials/footer.ejs") %>