<%- include("partials/header.ejs") %>
  <!-- Overlay When Open Navigation Bar -->
  <div id="bodyOverlay"> </div>

  <!-- Menu Button for Mobile -->
  <span class="material-icons" id="menuToggle">menu_open</span>


  <!-- Header  -->
  <div id="sidebarMenu" class="px-4">
    <div class="today mt-2 mb-2 ">
      <h1 class="listTitle text-white" name="listTitle">
        <%=homeTitle%>
      </h1>
    </div>
  </div>


  <!-- Content -->
  <div class="page-content p-4 " id="content">
    <div class="content" id="itemsParent">
      <%newTaskItem.forEach((task)=>{%>
        <form action="/delete" method="post">
          <div class="items">
              <input onChange="this.form.submit()" type="checkbox" value="<%=task._id%>" name="checkedItem" id="checkboc">
            <p class="mb-0">
              <%=task.name%>
            </p>
          </div>
          <input value="<%=homeTitle%>" name="listName" type="hidden">
        </form>
        <%});%>
    </div>
  </div>

  <!-- Add NeW Task -->
  <%- include("task.ejs") %>
    <%- include("partials/footer.ejs") %>